
<div class="ask">
  <p>Ask your coach anything:</p>

  <form action="/answer" data-turbo="false" class="row row-cols-lg-auto align-items-center">
    <div class="form-group">
      <input type="text" class="form-control" name="question" id="questionId" placeholder="Enter your question">
    </div>
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
